<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body class="blue-theme">
    <ul>
        <li><a class ="active" href="../index.html">Home</a></li>
        <li><a href="">Caregivers</a></li>
        <li><a href="">About</a></li>
        <li style="float:right"><a href="./login.html"><img src="./images/login-img.png" class="login-user">Login</a></li>
    </ul>
    <div class="container">
        <h1>Patient list</h1>
        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Caregiver</th>
                <th>Actions</th>
            </tr>
            <tr th:each="patient : ${patients}">
                <td th:text="*{firstName}">firstName</td>
                <td th:text="*{lastName}">lastName</td>
                <td th:text="*{age}">age</td>
                <td>
                    <form>
                        <select th:field="*{caregiver.id}">
                            <option th:each="caregiver : ${caregivers}" th:value="${caregiver.id}" th:text="${caregiver.firstName}">caregiver</option>
                        </select>
                        <button type="submit">Save</button>
                    </form>
                </td>
                <td>del/edit</td>
            </tr>
        </table>
    </div>
</body>
</html>